/*
 * smart-designs v2.1
 * 22-8-2024
*/

/* GLOBAL ------------------------------------------------------------------- */

::-webkit-scrollbar{
    display: none;
}

html {
    font-size: 21px;
}

body {
    background:transparent;
    color: white;
    opacity: 0;
}

.jp-entrance-anim {
    opacity: 0;
}

.jpt-nowrap {
    white-space: nowrap;
}

.jpt-insert-when-scrolled {
    flex-shrink: 0;
    opacity: 0;
    visibility: hidden;
}

.jpt-visual-onscroll{
    visibility: hidden;
    opacity: 0;
}

.jpt-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.jpt-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jpt-section > img {
    display: block;
    width: 100%;
}

.jpt-block {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.jpt-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jpt-kv-image {
    position: absolute;
    display: block;
    background-size: cover;
    width: 100%;
    
    top: 50%;
    left: 50%;
}

.jpt-kv-image-full {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

/* BG ----------------------------------------------------------------------- */

.jpt-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

/* TOP ---------------------------------------------------------------------- */

html#html_top{
    font-size: 20px;
}

#body_top .jpt-wrapper{
    flex-direction: row;
    justify-content: space-around;
}

#body_top .jpt-section {
    height: 100%;
}

#body_top .jpt-section-copy {
    width: 65%;
    z-index: 1;
    padding-right: 3%;
}

#body_top .jpt-section-kv {
    width: 52%;
}

#body_top .jpt-video-container{
    height: 100%;
}

#body_top [jp-controls]{
    height:100%;
}

#body_top .jpt-section-video {
    transition: width .5s;
    padding: 0;
    flex-shrink: 0;
    width: auto;
    max-height: 26vw;
}

#Text-Top {
    width: 100%;
    max-width: 248vh;
}

/* SIDES ------------------------------------------------------------------- */

.body_side .jpt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.body_side .jpt-section {
    width: 100%;
}

.body_side .jpt-header {
    height: 20%;
    padding-top:5vh;
}

.body_side .jpt-section-copy {
    height: 24%;
}

.body_side .jpt-section-visual {
    height: 33%;
    max-width: 45vh;
}

.body_side .jpt-footer {
    height: 23%;
}

.body_side .jpt-video-container{
    position: relative;
    width: 100%;
}

.body_side .jpt-video-container [jp-controls] {
    visibility: visible !important;
    opacity: 1;
}

.top{
    width: 100%;
    height: 65%;
}

.bottom {
    width: 100%;
    height: 38%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 1% 9% 1%;
}

.side-copy{
    opacity: 0;
}

.Text-Left {
    width: 100%;
    max-width: 38vh;
}

.Text-Right {
    width: 100%;
    max-width: 38vh;
}

#CTA-Button {
    width: 83.9%;
    max-width: 29vh;
}
/* Insert when scrolled */

/* .body_side .jpt-wrapper > .jpt-section {
    max-width: 35vh;
}

.body_side .jpt-header {
    height: 18%;
}

.body_side .jpt-section-visual {
    height: 30%;
    max-width: 42vh;
}

.body_side .jpt-section.jpt-insert-when-scrolled {
    padding-bottom: 3vh;
    height: auto;
} */

/* BACK -------------------------------------------------------------------- */

#body_back {
    background: black;
}

/* #body_back .pseudo-top {
    position: absolute;
    top: 0;
    width: 1000px;
    height: 250px;
}

#body_back .pseudo-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
}

#body_back .pseudo-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
} */

/* EXPANDED ---------------------------------------------------------------- */

#body_expanded .jpt-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#body_expanded .jpt-section-video {
    width:70%;
    max-width: 160vh;
}

#body_expanded .jpt-video-container{
    width:100%;
}


/* MEDIA QUERIES ----------------------------------------------------------- */

@media screen and (max-width:260px) {
    html {
        font-size: 8vw;
    }
}

@media (min-aspect-ratio:10/29) and (max-height:750px) {
    html {
        font-size: 2.8vh;
    }
}

